<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
    <style>
        body,
        html {
            height: 100%;
            background-image: url('fondo_final.jpeg');
            background-repeat: inherit;
            background-size: cover;
        }
    </style>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
    <div class="container-fluid">
        <h1 class="text-center">FORMULARIO DE PREDICCIÓN</h1>
        <form action="{{ url_for('predict')}}" method="post">
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">Ingrese la edad:</label>
                    <div class="col-md-2">
                        <input required name="edad" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">Ingrese el grado escolar:</label>
                    <div class="col-md-2">
                        <input required name="grado" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">1.) ¿Me importa lo que les sucede a las
            personas?</label>
                    <div class="col-md-2">
                        <input required name="P1" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">2.) ¿Es fácil decirle a la gente cómo me
            siento?</label>
                    <div class="col-md-2">
                        <input required name="P2" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">3.) ¿Me gustan todas las personas que
            conozco?</label>
                    <div class="col-md-2">
                        <input required name="P3" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">4.) ¿Soy capaz de respetar a los
            demás?</label>
                    <div class="col-md-2">
                        <input required name="P4" type="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">5.) ¿Me molesto demasiado de cualquier
            cosa?</label>
                    <div class="col-md-2">
                        <input required name="P5" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">6.) ¿Puedo hablar fácilmente sobre mis
            sentimientos?</label>
                    <div class="col-md-2">
                        <input required name="P6" type="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">7.) ¿Pienso bien de todas las
            personas?</label>
                    <div class="col-md-2">
                        <input required name="P7" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">8.) ¿Peleo con la gente?</label>
                    <div class="col-md-2">
                        <input required name="P8" type="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">9.) ¿Tengo mal genio?</label>
                    <div class="col-md-2">
                        <input required name="P9" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">10.) ¿Puedo comprender preguntas
            difíciles?</label>
                    <div class="col-md-2">
                        <input required name="P10" type="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">11.) ¿Nada me molesta?</label>
                    <div class="col-md-2">
                        <input required name="P11" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">12.) ¿Es difícil hablar sobre mis sentimientos
            más?</label>
                    <div class="col-md-2">
                        <input required name="P12" type="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">13.) ¿Puedo dar buenas respuestas a
            preguntas?</label>
                    <div class="col-md-2">
                        <input required name="P13" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">14.) ¿Puedo fácilmente describir mis
            sentimientos?</label>
                    <div class="col-md-2">
                        <input required name="P14" type="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">15.) ¿Debo decir siempre la verdad?</label>
                    <div class="col-md-2">
                        <input required name="P15" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">16.) ¿Puedo tener muchas maneras de responder
            una
            pregunta difícil, cuando yo quiero?</label>
                    <div class="col-md-2">
                        <input required name="P16" type="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">17.) ¿Me molesto fácilmente?</label>
                    <div class="col-md-2">
                        <input required name="P17" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">18.) ¿Me agrada hacer cosas para los
            demás?</label>
                    <div class="col-md-2">
                        <input required name="P18" type="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">19.) ¿Puedo usar fácilmente diferentes modos
            de
            resolver los problemas?</label>
                    <div class="col-md-2">
                        <input required name="P19" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">20.) ¿Pienso que soy el (la) mejor en todo lo
            que
            hago?</label>
                    <div class="col-md-2">
                        <input required name="P20" type="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">21.) ¿Para mí es fácil decirle a las personas
            cómo
            me
            siento?</label>
                    <div class="col-md-2">
                        <input required name="P21" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">22.) ¿Cuando respondo preguntas difíciles
            trato de
            pensar en muchas soluciones?</label>
                    <div class="col-md-2">
                        <input required name="P22" type="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">23.) ¿Me siento mal cuando las personas son
            heridas
            en
            sus sentimientos?</label>
                    <div class="col-md-2">
                        <input required name="P23" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">24.) ¿Soy bueno (a) resolviendo
            problemas?</label>
                    <div class="col-md-2">
                        <input required name="P24" type="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">25.) ¿No tengo días malos?</label>
                    <div class="col-md-2">
                        <input required name="P25" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">26.) ¿Me es difícil decirle a los demás mis
            sentimientos?</label>
                    <div class="col-md-2">
                        <input required name="P26" type="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">27.) ¿Me fastidio fácilmente.?</label>
                    <div class="col-md-2">
                        <input required name="P27" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">28.) ¿Puedo darme cuenta cuando mi amigo se
            siente
            triste?</label>
                    <div class="col-md-2">
                        <input required name="P28" type="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">29.) ¿Cuando me molesto actúo sin
            pensar?</label>
                    <div class="col-md-2">
                        <input required name="P29" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">30.) ¿Sé cuando la gente está molesta aún
            cuando no
            dicen nada?</label>
                    <div class="col-md-2">
                        <input required name="P30" type="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">31.) ¿Intrapersonal cualitativo?</label>
                    <div class="col-md-2">
                        <input required name="Intra_Cuali" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">32.) ¿Interpersonal cualitativo?</label>
                    <div class="col-md-2">
                        <input required name="Inter_Cuali" type="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">33.) ¿Estrés final?</label>
                    <div class="col-md-2">
                        <input required name="Estres_Final" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">34.) ¿Estrés cualitativo?</label>
                    <div class="col-md-2">
                        <input required name="Estres_Cuali" type="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">35.) ¿Adaptabilidad cualitativo?</label>
                    <div class="col-md-2">
                        <input required name="Adap_Cuali" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">36.) ¿Impresión positiva cualitativo?</label>
                    <div class="col-md-2">
                        <input required name="Impre_Cuali" type="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">37.) ¿Total Test?</label>
                    <div class="col-md-2">
                        <input required name="Test_Total" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">38.) ¿Test cuantitativo?</label>
                    <div class="col-md-2">
                        <input required name="Test_Cuanti" type="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">39.) ¿Promedio Ponderado?</label>
                    <div class="col-md-2">
                        <input required name="Prom_Ponderado" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">

                </div>
            </div>
    </div>
    <div class="form-group mt-2">
        <button type="submit" class="btn btn-primary btn-block btn-large">Predecir</button>
    </div>
    </form>

    <br>
    <br> {{ prediction_text }}


    <br>
    <br> {{ Influencers_text }}

    <br>
    <br> {% if show_image %}
    <img src="https://i.postimg.cc/wvqZ0RW0/Screenshot-2020-06-17-at-2-51-32-PM.png" alt="Influencing_Features" width="200" height="500"> {% endif %} {% if show_image_1 %}
    <img src="https://i.postimg.cc/rp12hkqF/Screenshot-2020-06-17-at-2-51-56-PM.png" alt="Correlation_Matrix" width="600" height="500"> {% endif %}



</body>

</html>



<!-- 
<div class="container">
  
  <form>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
 
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
     
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
     
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
     
    </div>
    <div class="form-group row">
     
    </div>
    <div class="form-group row">
     
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
  </form>
</div> -->