<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
    <style>
        body,
        html {
            background: rgb(255,245,226);
background: linear-gradient(90deg, rgba(255,245,226,1) 9%, rgba(218,255,253,1) 48%, rgba(236,240,166,1) 100%);
        }
    </style>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
	<br> <br>
    <div class="container-fluid">
        <h1 class="text-center"><font face="Lucida Bright">PREDICCIÓN DE RENDIMIENTO</font></h1>
        <form action="{{ url_for('predict')}}" method="post">
        	
        	<br> <br>

            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start"> <STRONG> Ingrese la edad:</STRONG></label>
                    <div class="col-md-2">
                        <input placeholder="11/12/13/14" required name="edad" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start"> <STRONG> Ingrese el grado escolar:</STRONG> </label>
                    <div class="col-md-2">
                        <input placeholder="1/2/3" required name="grado" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">1.) ¿Me importa lo que les sucede a las
            personas?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P1" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">2.) ¿Es fácil decirle a la gente cómo me
            siento?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P2" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">3.) ¿Me gustan todas las personas que
            conozco?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P3" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">4.) ¿Soy capaz de respetar a los
            demás?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P4" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">5.) ¿Me molesto demasiado de cualquier
            cosa?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P5" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">6.) ¿Puedo hablar fácilmente sobre mis
            sentimientos?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P6" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">7.) ¿Pienso bien de todas las
            personas?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P7" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">8.) ¿Peleo con la gente?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P8" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">9.) ¿Tengo mal genio?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P9" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">10.) ¿Puedo comprender preguntas
            difíciles?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P10" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">11.) ¿Nada me molesta?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P11" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">12.) ¿Es difícil hablar sobre mis sentimientos
            más?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P12" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">13.) ¿Puedo dar buenas respuestas a
            preguntas?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P13" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">14.) ¿Puedo fácilmente describir mis
            sentimientos?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P14" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">15.) ¿Debo decir siempre la verdad?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P15" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">16.) ¿Puedo tener muchas maneras de responder
            una
            pregunta difícil, cuando yo quiero?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P16" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">17.) ¿Me molesto fácilmente?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P17" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">18.) ¿Me agrada hacer cosas para los
            demás?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P18" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">19.) ¿Puedo usar fácilmente diferentes modos
            de
            resolver los problemas?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P19" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">20.) ¿Pienso que soy el (la) mejor en todo lo
            que
            hago?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P20" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">21.) ¿Para mí es fácil decirle a las personas
            cómo
            me
            siento?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P21" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">22.) ¿Cuando respondo preguntas difíciles
            trato de
            pensar en muchas soluciones?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P22" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">23.) ¿Me siento mal cuando las personas son
            heridas
            en
            sus sentimientos?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P23" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">24.) ¿Soy bueno (a) resolviendo
            problemas?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P24" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">25.) ¿No tengo días malos?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P25" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">26.) ¿Me es difícil decirle a los demás mis
            sentimientos?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P26" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">27.) ¿Me fastidio fácilmente.?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P27" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">28.) ¿Puedo darme cuenta cuando mi amigo se
            siente
            triste?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P28" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">29.) ¿Cuando me molesto actúo sin
            pensar?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P29" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">30.) ¿Sé cuando la gente está molesta aún
            cuando no
            dicen nada?</label>
                    <div class="col-md-2">
                        <input placeholder="1-2-3-4" required name="P30" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">31.) Intrapersonal cualitativo</label>
                    <div class="col-md-2">
                        <input placeholder="1/2/3" required name="Intra_Cuali" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">32.) Interpersonal cualitativo</label>
                    <div class="col-md-2">
                        <input placeholder="1/2/3" required name="Inter_Cuali" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">33.) Estrés final</label>
                    <div class="col-md-2">
                        <input placeholder="---" required name="Estres_Final" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">34.) Estrés cualitativo</label>
                    <div class="col-md-2">
                        <input placeholder="1/2/3" required name="Estres_Cuali" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">35.) Adaptabilidad cualitativo</label>
                    <div class="col-md-2">
                        <input placeholder="1/2/3" required name="Adap_Cuali" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">36.) Impresión positiva cualitativo</label>
                    <div class="col-md-2">
                        <input placeholder="1/2/3" required name="Impre_Cuali" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">37.) Total Test</label>
                    <div class="col-md-2">
                        <input placeholder="---" required name="Test_Total" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">38.) Test cuantitativo</label>
                    <div class="col-md-2">
                        <input placeholder="1/2/3" required name="Test_Cuanti" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 form-inline">
                    <label class="col-md-6 justify-content-start">39.) Promedio Academico Ponderado</label>
                    <div class="col-md-2">
                        <input placeholder="--" required name="Prom_Ponderado" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 form-inline">

                </div>
            </div>
            <br> <br>
    </div>
    <div class="form-group mt-2">
        <button type="submit" class="btn btn-primary btn-block btn-large">Predecir</button>
    </div>
    </form>

    <br>
    <br> {{ prediction_text }}


    <br>
    <br> {{ Influencers_text }}

    <br>
    <br> {% if show_image %}
    <img src="https://i.postimg.cc/wvqZ0RW0/Screenshot-2020-06-17-at-2-51-32-PM.png" alt="Influencing_Features" width="200" height="500"> {% endif %} {% if show_image_1 %}
    <img src="https://i.postimg.cc/rp12hkqF/Screenshot-2020-06-17-at-2-51-56-PM.png" alt="Correlation_Matrix" width="600" height="500"> {% endif %}



</body>

</html>



<!-- 
<div class="container">
  
  <form>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
 
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
     
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
     
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
     
    </div>
    <div class="form-group row">
     
    </div>
    <div class="form-group row">
     
    </div>
    <div class="form-group row">
      
    </div>
    <div class="form-group row">
      
    </div>
  </form>
</div> -->